<app-page-header title="Combine" descriptionHtml="<small><i>Use <a href='https://github.com/xripcsu/rxjs-watcher'>RxJS Watcher</a>  or Console for monitoring</i></small>"></app-page-header>
<h4>Child observables: {{childSource1$ | async}} / {{childSource2$ | async}} / {{childSource3$ | async}}</h4>

<div class="mb-4">
  <h5>withLatestFrom</h5>
  <div class="card bg-primary text-bg-dark text-center" #wlfClickSource>
    <h6 class="card-title">Click me to emit event to observer</h6>
  </div>
</div>

<div class="mb-4">
  <h5>combineLatestWith</h5>
  <div class="card bg-primary text-bg-dark text-center" #clwClickSource>
    <h6 class="card-title">Click me to emit event to observer</h6>
  </div>
</div>

<div class="mb-4">
  <h5>Custom (with NgRx selectors + offset parameter)</h5>
  <div class="card bg-primary text-bg-dark text-center" #customClickSource>
    <h6 class="card-title">Click me to emit event to observer</h6>
  </div>
</div>

<div>
  <label>Offset</label><input type="number" [(ngModel)]="offset">
</div>

<app-counters></app-counters>
