<app-page-header
  title="Combine"
  descriptionHtml="<small><i>Use <a href='https://github.com/xripcsu/rxjs-watcher'>RxJS Watcher</a>  or Console for monitoring</i></small>"
></app-page-header>

<h4>Child observables from interval()</h4>
<h6>
  Child observables: {{ childSource1$ | async }} / {{ childSource2$ | async }} /
  {{ childSource3$ | async }}
</h6>

<div class="row mb-4">
  <div class="col-7">
    <div class="card bg-primary text-bg-dark text-center" #wlfClickSource>
      <h6 class="card-title">Click me to emit event to main observables</h6>
    </div>
  </div>
  <div class="col-5"><b>withLatestFrom</b>(children)</div>
</div>

<div class="row mb-4">
  <div class="col-7">
    <div class="card bg-primary text-bg-dark text-center" #clwClickSource>
      <h6 class="card-title">Click me to emit event to main observables</h6>
    </div>
  </div>
  <div class="col-5"><b>combineLatestWith</b>(children)</div>
</div>

<hr>

<h4>Child observables from NgRx selectors + offset</h4>
<app-counters></app-counters>

<div class="mb-3">
  <label for="offset" class="form-label">Offset</label>
  <input type="number" class="form-control" id="offset" [(ngModel)]="offset" />
</div>

<div class="row mb-4">
  <div class="col-7">
    <div class="card bg-primary text-bg-dark text-center" #customClickSource>
      <h6 class="card-title">Click me to emit event to main observables</h6>
    </div>
  </div>
  <div class="col-5"><b>withLatestFrom</b>(children)</div>
</div>

