<app-page-header
  title="NgRx Entity Test"
  descriptionHtml="<small><i>Use <a href='https://chrome.google.com/webstore/detail/redux-devtools'>Redux DevTools</a>  or Console for monitoring</i></small>"
></app-page-header>

<div class="mb-4">
  <h5>Set config variables</h5>
  <div class="row">
    <form class="row g-3">
      <div class="col-2"><label for="config1">Config 1</label></div>
      <div class="col-8"><input type="text" name="config1" class="form-control" id="config1" [ngModel]="(config1$ | async)?.value" (ngModelChange)="config1Changed($event)" placeholder="Config 1"></div>
      <div class="col-2"><button class="btn btn-primary mb-3" (click)="saveConfig1()">OK</button></div>

      <div class="col-2"><label for="config2">Config 2</label></div>
      <div class="col-8"><input type="text" name="config2" class="form-control" id="config2" [ngModel]="(config2$ | async)?.value" (ngModelChange)="config2Changed($event)" placeholder="Config 2"></div>
      <div class="col-2"><button class="btn btn-primary mb-3" (click)="saveConfig2()">OK</button></div>

      <div class="col-2"><label for="config3">Config 3</label></div>
      <div class="col-8"><input type="text" name="config3" class="form-control" id="config3" [ngModel]="(config3$ | async)?.value" (ngModelChange)="config3Changed($event)" placeholder="Config 3"></div>
      <div class="col-2"><button class="btn btn-primary mb-3" (click)="saveConfig3()">OK</button></div>
    </form>
  </div>
</div>

<app-entity-test-monitor></app-entity-test-monitor>
<app-entity-test-dump></app-entity-test-dump>
