<app-page-header
  title="NgRx Entity Test"
  descriptionHtml="<small><i>Use <a href='https://chrome.google.com/webstore/detail/redux-devtools'>Redux DevTools</a>  or Console for monitoring</i></small>"
></app-page-header>

<div class="mb-4">
  <h5>Set config variables</h5>
  <div class="row">
    <form class="row g-3">
      <div class="col-2"><label for="config1">Config 1</label></div>
      <div class="col-7"><input type="text" name="config1" class="form-control" id="config1" [ngModel]="(config1$ | async)?.value" (ngModelChange)="config1Changed($event)" placeholder="Config 1"></div>
      <div class="col-3">
        <button class="btn btn-success me-2" (click)="saveConfig1()"><i class="fa-solid fa-floppy-disk"></i></button>
        <button class="btn btn-danger me-2" (click)="deleteConfig1()"><i class="fa-solid fa-trash-can"></i></button>
      </div>

      <div class="col-2"><label for="config2">Config 2</label></div>
      <div class="col-7"><input type="text" name="config2" class="form-control" id="config2" [ngModel]="(config2$ | async)?.value" (ngModelChange)="config2Changed($event)" placeholder="Config 2"></div>
      <div class="col-3">
        <button class="btn btn-success me-2" (click)="saveConfig2()"><i class="fa-solid fa-floppy-disk"></i></button>
        <button class="btn btn-danger me-2" (click)="deleteConfig2()"><i class="fa-solid fa-trash-can"></i></button>
      </div>

      <div class="col-2"><label for="config3">Config 3</label></div>
      <div class="col-7"><input type="text" name="config3" class="form-control" id="config3" [ngModel]="(config3$ | async)?.value" (ngModelChange)="config3Changed($event)" placeholder="Config 3"></div>
      <div class="col-3">
        <button class="btn btn-success me-2" (click)="saveConfig3()"><i class="fa-solid fa-floppy-disk"></i></button>
        <button class="btn btn-danger me-2" (click)="deleteConfig3()"><i class="fa-solid fa-trash-can"></i></button>
      </div>
    </form>
  </div>
</div>

<app-entity-test-monitor></app-entity-test-monitor>
<app-entity-test-dump></app-entity-test-dump>

<h3>{{((configs$ | async) ?? []).length + 5}}</h3>

<app-entity-table *ngIf="configs$ | async"></app-entity-table>
<app-nullish-test></app-nullish-test>
