<div class="mb-4">
  <h5>View config variables</h5>
  <div class="row">
    <form class="row g-3">
      <div class="col-2"><label>Config 1:</label></div>
      <div class="col-10">
        <span>{{(config1$ | async) | json}}</span>
      </div>

      <div class="col-2"><label>Config 2:</label></div>
      <div class="col-10">
        <span>{{(config2$ | async) | json}}</span>
      </div>

      <div class="col-2"><label>Config 3:</label></div>
      <div class="col-10">
        <span>{{(config3$ | async) | json}}</span>
      </div>
    </form>
  </div>
</div>


