<div class="mb-4">
  <h5>Set config variables</h5>
  <div class="row">
    <form class="row g-3">
      <div class="col-2"><label>Config 1:</label></div>
      <div class="col-10">
        <span *ngIf="(config1$ | async) as config">[{{config.name}}] / [{{config.value}}] </span>
      </div>

      <div class="col-2"><label>Config 2:</label></div>
      <div class="col-10">
        <span *ngIf="(config2$ | async) as config">[{{config.name}}] / [{{config.value}}] </span>
      </div>

      <div class="col-2"><label>Config 3:</label></div>
      <div class="col-10">
        <span *ngIf="(config3$ | async) as config">[{{config.name}}] / [{{config.value}}] </span>
      </div>
    </form>
  </div>
</div>


