<div class="container-fluid min-vh-100 d-flex flex-column">
  <div class="row flex-grow-1 justify-content-center align-content-center">
    <div class="jumbotron jumbotron-fluid mt-5">
      <div class="container d-flex flex-column">
        <div class="row flex-grow-1 align-items-center">
          <div class="col-4">
            <img width="300" alt="Angular Logo" src="/assets/angular-badge.svg">
          </div>
          <div class="col-4">
            <img width="300" alt="Angular Logo" src="/assets/rxjs-badge.svg">
          </div>
          <div class="col-4">
            <img width="300" alt="Angular Logo" src="/assets/ngrx-badge.svg">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div>
              <h1 class="display-4">{{ title }}</h1>
              <p class="lead">This application demonstrates reactive technologies in Angular.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
